body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-image: url(/images/un-libro-y-un-cafe.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

a {
  color: #f0f4f5;
}

h1 {
  color: 15px;
}
