
<form action="/places/crear" method="POST">
    
    <label for="name">
        Nombre
        <input name="name" id="name" type="text">
    </label>
    </br>

    </br>
    <select name="type">
        
        <option value="coffee shop">cafeteria</option>
        <option value="bookstore">libreria</option>
    </select>
    

    <button type="submit">Crear place</button>
</form>